/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/
fmod/
libfmod.so.13
libfmod.so.13.20
libfmodL.so.13
libfmodL.so.13.20
libfmodstudio.so.13
libfmodstudio.so.13.20
libfmodstudioL.so.13
libfmodstudioL.so.13.20
fmod_vc.lib
fmod.dll
fmodL_vc.lib
fmodL.dll
fmodstudio_vc.lib
fmodstudio.dll
fmodstudioL_vc.lib
fmodstudioL.dll
